* {
    touch-action: manipulation;
    margin: 0px;
    padding: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: normal;
    border: none;
    --pc: calc(min(100vw, calc(100dvh / 16 * 9)) / 100);
    --spacing: 3;
}
img.streamImage {
    display: block;
    height: auto;
}
img.ipsUserPhoto {
    width: calc(15 * var(--pc));
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-right: calc(3 * var(--pc));
    border-radius: calc(3 * var(--pc));
}
h1, h2, h3, p, summary::marker {
    font-family: Arial, sans-serif;
    overflow-wrap: break-word;
    min-width: 0;
    text-align: center;
}
h1, h2, h3, summary::marker {
    font-size: calc(5 * var(--pc));
}
h1, h2 {
    font-weight: bold;
}
p {
    font-size: calc(4 * var(--pc));
}
#heading-container {
    display: flex;
    align-items: center;
}
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--spacing) / 2 * var(--pc));
    width: calc((100 - var(--spacing)) * var(--pc));
    overflow-y: auto;
    background-color: #eae5e4;
}
#app > * {
    width: calc(100% - var(--spacing) * var(--pc));
    margin: calc(var(--spacing) / 2 * var(--pc));
}
body {
    display: flex;
    justify-content: center;
    height: 100dvh;
}
a, a:visited {
    color: blue;
    text-decoration: underline;
    font-weight: inherit;
}
summary * {
    display: inline;
}
summary {
    -webkit-user-select: none;
    user-select: none;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
summary::marker {
    cursor: pointer;
}
details > :not(summary) {
    margin-top: calc(var(--spacing) * var(--pc));
}